---
import '../styles/estilo.css';
// Aqu칤 podr칤as agregar l칩gica o datos si es necesario
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>veramendi.dxn</title>
</head>
<body>
  <div class="container">
    <img src="/veramendi/inagen.png" alt="Descripci칩n de la imagen">
    <div class="description">
      <p>춰Hola! Bienvenido. Me dedico a brindar soluciones de bienestar y salud para mejorar la calidad de vida de las personas. Trabajo de manera remota utilizando la tecnolog칤a para conectar con individuos que buscan transformar su salud y bienestar.</p>
      <p>Si est치s buscando mejorar tu salud y bienestar, no dudes en ponerte en contacto conmigo. Estoy aqu칤 para ayudarte en tu viaje hacia una vida m치s feliz y saludable.</p>
    </div><br>
    <div style="font-weight: bold; font-size: 15px; background: thistle; color: black; text-align: center;">
      ENVIAME MENSAJE POR WHATSAPP
      <a href="wa.link/jxka6p" style="font-size: 14px; color: black; text-decoration: none; margin-left: 10px;">
        N칰mero: +51923347140
      </a>
    </div>
    <div class="contact">
      <a href="https://wa.me/message/XK3BUI7XAPB4O1"><img src="/veramendi/WhatsApp.png" alt="WhatsApp"><br>WhatsApp</a>
    </div>
    <div class="codigo">
      <p>CONVIERTE EN DISTRIBUIDOR (C칍DIGO GRATIS)</p>
      <p>游녢 Ingresa en el siguiente link 游녢</p>
      <a href="https://eworld.dxn2u.com/s/accreg/es419/826088095">https://eworld.dxn2u.com/s/accreg/es419/826088095</a>
    </div>
    <h4 style="font-weight: bold;font-size: 16px;background: rgb(212, 212, 212); color: black;">"Visita nuestras redes sociales, estamos aqu칤 para ayudarte."</h4>
    <div class="social-links">
      <a href="https://www.tiktok.com/@veramendi.dxn"><img src="/veramendi/Tiktok.png" alt="Tik tok"><br>Tik tok</a>
      <a href="https://www.youtube.com/channel/UCYfU4dsdGPZhV4X3YtuCBiA"><img src="/veramendi/YouTube.png" alt="Youtube"><br>Youtube</a>
    </div>
  </div>
</body>
</html>
